# Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/.

# Finder.
.DS_Store

# Python.
__pycache__/
*.egg-info/

# Swift.
Packages

# Xcode.
xcuserdata
profile
project.xcworkspace

# Project.
_build/
_misc/
gh-pages/

# Ploy.
_repro.ploy
_repro-lib.ploy
default.profraw
todo.txt
